.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 9999;
  overflow: auto;
  transition: background-color 0.4s;

  &[aria-hidden='true'] {
    visibility: hidden;
  }

  &[aria-hidden='false'] {
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal__dialog {
  position: relative;
  background: var(--color-white);
  border-radius: 10px;
  padding: 40px;
  max-width: 500px;
  margin: 100px 0;

  [aria-hidden='false'] & {
    animation: dialog-open 0.4s $easeOutBack;
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
