.video-placeholder {
  position: relative;
  max-height: 90vh;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.video-placeholder--default::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.video-placeholder--fit {
  margin: 0 !important;

  &::before {
    display: none !important;
  }

  .video-placeholder__main,
  .video-placeholder__thumbnail {
    position: absolute;
    inset: 0;
  }
}

.video-placeholder__main {
  position: relative;

  .video-placeholder--default & {
    position: absolute;
    inset: 0;
  }
}

.video-placeholder__thumbnail {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  // padding-bottom: 56.25%; // 16:9
  background: var(--color-black);
  z-index: 3;
  overflow: hidden;

  img,
  video {
    transition: all 0.5s var(--ease-out);
    position: absolute;
    left: 0;
    top: 0;
    @include object-fit(cover);
  }

  &::before {
    content: '';
    background: hsla(var(--color-black-hsl), 0.65);
    position: absolute;
    inset: 0;
    z-index: 10;
  }

  .no-js & {
    z-index: 1 !important;
  }

  &:hover {
    img,
    video {
      transform: scale(1.025);
    }
  }
}

.video-placeholder__thumbnail--playing {
  z-index: 1;
}

.video-placeholder__video {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-black);
  width: 100%;
  height: 100%;
  z-index: 2;

  .no-js &[hidden] {
    display: block !important;
  }
}

.video-placeholder__play {
  position: absolute;
  inset: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  place-content: center center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.video-placeholder__play-text {
  font-size: 150%;
  position: relative;
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-display);
  line-height: 1;
  letter-spacing: var(--letter-spacing-display);

  @include breakpoint(tablet-up) {
    font-size: 300%;
  }
}

.video-placeholder__play-icon {
  position: relative;
  display: flex;
  place-content: center center;
  align-items: center;
  background: linear-gradient(0deg, hsla(var(--color-black-hsl), 0.44) 0%, hsla(var(--color-black-hsl), 0) 40%);
  width: 90px;
  height: 90px;

  @include breakpoint(tablet-up) {
    width: 110px;
    height: 110px;
  }

  &::before {
    transition: all 0.1s $easeInOutQuad;
    transform: translate3d(-50%, -50%, 0);
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    border: 2px solid var(--color-white);
    border-radius: 50%;

    @include breakpoint(tablet-up) {
      width: 110px;
      height: 110px;
    }
  }

  &::after {
    transition: all 0.1s $easeInOutQuad;
    transform: translate3d(-50%, -50%, 0);
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 12px;
    width: 0;
    height: 0;
    border-left: 25px solid var(--color-white);
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;

    @include breakpoint(tablet-up) {
      border-left: 25px solid var(--color-white);
      border-top: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid transparent;
      margin-left: 12px;
    }
  }

  .video-placeholder__play:hover & {
    &::before {
      transform: translate3d(-50%, -50%, 0) scale(1.1);
    }

    &::after {
      transform: translate3d(-50%, -50%, 0) scale(1.1);
    }
  }
}
