:root {
  --color-black-hsl: 0, 0%, 0%;
  --color-black: hsl(var(--color-black-hsl));
  --color-darker-grey-hsl: 0, 0%, 20%;
  --color-darker-grey: hsl(var(--color-darker-grey-hsl));
  --color-dark-grey-hsl: 0, 0%, 53%;
  --color-dark-grey: hsl(var(--color-dark-grey-hsl));
  --color-grey-hsl: 0, 0%, 78%;
  --color-grey: hsl(var(--color-grey-hsl));
  --color-light-grey-hsl: 0, 0%, 94%;
  --color-light-grey: hsl(var(--color-light-grey-hsl));
  --color-white-hsl: 0, 100%, 100%;
  --color-white: hsl(var(--color-white-hsl));
  --color-main-hsl: 45, 100%, 51%;
  --color-main: hsl(var(--color-main-hsl));
  --color-main-dark-hsl: 45, 100%, 46%;
  --color-main-dark: hsl(var(--color-main-dark-hsl));
  --color-accent-hsl: 173, 52%, 59%;
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-dark-hsl: 177, 95%, 16%;
  --color-accent-dark: hsl(var(--color-accent-dark-hsl));
  --color-accent-darker-hsl: 178, 100%, 10%;
  --color-accent-darker: hsl(var(--color-accent-darker-hsl));
  --color-accent-light-hsl: 179, 18%, 50%; // #689796 // 185, 20%, 50%;
  --color-accent-light: hsl(var(--color-accent-light-hsl));
  --color-accent-lighter-hsl: 173, 53%, 93%; // #E5F7F5
  --color-accent-lighter: hsl(var(--color-accent-lighter-hsl));
  --color-accent-tint-hsl: 178, 32%, 45%;
  --color-accent-tint: hsl(var(--color-accent-tint-hsl));
  --color-text: var(--color-accent-dark);
  --font-family-text: 'proxima-nova', Helvetica, Arial, sans-serif;
  --font-weight-text: 300;
  --line-height-text: 1.4;
  --letter-spacing-text: 0;
  --font-family-display: 'owners-wide', Helvetica, Arial, sans-serif;
  --font-weight-display: 300;
  --line-height-display: 1.2;
  --letter-spacing-display: 1.5px;
  --radius: 22px;
  --radius-btn: 0;
  --z-index-sub-nav: 90;
  --z-index-header: 100;
  --z-index-menu: 95;
  --z-index-dialog: 300;
  --gap: 1.5rem;
  --content-width: 47.5rem;
  --ease-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --square-width: 54px;
  --item-gap: 56px;
}
